@model PostoDeCaixaViewModel

@{
    ViewData["Title"] = "Editar Posto de Caixa";
}
<div class="pai-posto">
    <div class="filho">
        <div class="col-10 cor offset-1 rounded">
            <h4 class="font font-weight-bolder text-center m-1">Editar Posto de Caixa</h4>
            <hr />
            <form item-id="@Model.PostoDeCaixa.Id" id='form_id' asp-action="index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div filial class="form-group">
                    <label class="control-label font font-weight-bold">Filial</label>
                    <select data-val="true" data-val-required="The SelectedFilialId field is required." id="SelectedFilialId" class="custom-select" name="SelectedFilialId" onchange="postoDeCaixaJs.reloadEdit(@Model.PostoDeCaixa.Id)">
                        @foreach (var filial in Model.Filiais)
                        {
                            <option value="@filial.Value">@filial.Text</option>
                        }
                    </select>

                    <script>
                    $("#SelectedFilialId option[value=" + @Model.FilialIdd + "]").attr('selected', 'selected');
                    </script>
                    <a class="btn-xs ml-2" asp-controller="Filiais" asp-action="Create">Criar Nova Filial</a>
                </div>
                <div contaCorrente class="form-group">
                    <label class="control-label font font-weight-bold">Conta Corrente</label>
                    <select data-val="true" data-val-required="The SelectedContaCorrenteId field is required." class="custom-select" id="SelectedContaCorrenteId" name="SelectedContaCorrenteId">
                        @foreach (var contaCorrente in Model.ContasCorrentes)
                        {

                            var ContaCorrenteDb = Model.ContasCorrentesDB.Where(f => f.Id.ToString() == contaCorrente.Value).FirstOrDefault();

                            if ((ContaCorrenteDb.Filial.Id.ToString() == Model.FilialIdd))
                            {
                                <option value="@contaCorrente.Value">@contaCorrente.Text</option>
                            }
                        }
                    </select>
                    @foreach (var contaCorrente in Model.ContasCorrentes)
                    {
                        @if (contaCorrente.Value == Model.PostoDeCaixa.ContaCorrente.Id.ToString())
                        {
                            <script>
                            $("#SelectedContaCorrenteId option[value=" + @contaCorrente.Value + "]").attr('selected', 'selected');
                            </script>
                        }
                    }
                    <a class="btn-xs ml-2" asp-controller="ContasCorrentes" asp-action="Create">Criar Nova Conta Corrente</a>
                </div>
                <div usuario class="form-group">
                    <label class="control-label font font-weight-bold">Usuário</label>
                    <select data-val="true" data-val-required="The SelectedUsuarioId field is required." class="custom-select" id="SelectedUsuarioId" name="SelectedUsuarioId">
                        @foreach (var usuario in Model.Usuarios)
                        {

                            var UsuarioDb = Model.UsuariosDB.Where(f => f.Ativo == true).Where(f => f.Id.ToString() == usuario.Value).FirstOrDefault();

                            if ((UsuarioDb.Filial.Id.ToString() == Model.FilialIdd))
                            {
                                <option value="@usuario.Value">@usuario.Text</option>
                            }
                        }
                    </select>
                    @if (Model.PostoDeCaixa.Usuario != null)
                    {
                        @foreach (var usuario in Model.Usuarios)
                        {
                            @if (usuario.Value == Model.PostoDeCaixa.Usuario.Id.ToString())
                            {
                                <script>
                            $("#SelectedUsuarioId option[value=" + @usuario.Value + "]").attr('selected', 'selected');
                                </script>
                            }
                        }
                    }
                    <a class="btn-xs ml-2" asp-controller="Usuarios" asp-action="Create">Criar Novo Usuário</a>
                </div>
                <div nome class="form-group">
                    <label asp-for="PostoDeCaixa.Nome" class="control-label font font-weight-bold"></label>
                    <input asp-for="PostoDeCaixa.Nome" class="form-control" />
                    <span asp-validation-for="PostoDeCaixa.Nome" class="text-danger"></span>
                </div>
                <div ativo class="form-group font font-weight-bold">
                    <div class="checkbox">
                        <label>
                            @{
                                if (Model.PostoDeCaixa.Ativo == true)
                                {
                                    <label for="ativo" style="cursor:pointer; transition:all .3s ease-in-out;" id="lab"><i class="material-icons float-left text-success">check</i> Ativada</label>
                                    <input id=ativo checked asp-for="Ativo" hidden />
                                }
                                else
                                {
                                    <label for="ativo" style="cursor:pointer;transition:all .3s ease-in-out;" id="lab"><i class="material-icons  float-left text-danger">close</i> Desativada</label>
                                    <input id=ativo asp-for="Ativo" hidden />
                                }
                            }
                        </label>
                    </div>
                </div>


                <div class="form-group text-center m-2">
                    <input onclick="postoDeCaixaJs.updatePostoDeCaixa(this)" type="submit" value="Salvar" class="btn btn-primary m-1 rounded-pill" />
                </div>

            </form>

            <div class="text-center btns">
                <a asp-action="Index" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar Para Lista</a>
            </div>
        </div>
    </div>

</div>
@section Scripts
    {
    <script src="~/js/postoDeCaixa.js">

    </script>
    <script src="~/js/ativa.js"></script>
}