@model MovimentoBancarioViewModel

@{
    ViewData["Title"] = "Transferência";
}

<div class="mov">
    <div class=" rounded font font-weight-bold filho">
        <h2 class="font font-weight-bold text-center m-1">Transferência</h2>
        <h4 class="text-center m-2">Saldo: R$@Model.ContaCorrente.Saldo</h4>
        <form action="ConfirmarMovimento" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.ContaCorrente.Id" name="ContaCorrenteId" id="ContaCorrenteId" />
            <input type="hidden" value="false" name="cheque" />
            <input type="hidden" value="transferencia" name="tipo" />
            <input type="text" id="saldo" name="name" hidden value="@Model.ContaCorrente.Saldo" />
            <div class="form-group inputs">
                <label class="control-label font font-weight-bold">Filial destino:</label>
                <select data-val="true" data-val-required="The Filial field is required." name="SelectedFilialId" class="form-control" id="SelectedFilialId" onchange="reloadTransferencia()">
                    @if (User.Identity.Name == "admin")
                    {
                        @foreach (var filial in Model.FiliaisDB)
                        {
                            if (filial.ContasCorrentes.Any())
                            {
                                <option value="@filial.Id">@filial.PessoaJuridica.Nome</option>
                            }
                        }
                    }
                    else
                    {
                        @foreach (var filial in Model.Usuario.Filial.Empresa.Filiais)
                        {
                            if (filial.ContasCorrentes.Any())
                            {
                                <option value="@filial.Id">@filial.PessoaJuridica.Nome</option>
                            }
                        }
                    }
                </select>
                <script>
                $("#SelectedFilialId option[value=" + @Model.FilialIdd + "]").attr('selected', 'selected');
                </script>
            </div>
            <div class="form-group inputs">
                <label class="control-label font font-weight-bold">Conta Corrente destino:</label>
                <select data-val="true" data-val-required="The Conta Corrente field is required." class="form-control" id="ContaCorrenteDestinoId" name="ContaCorrenteDestinoId">
                    @if (User.Identity.Name == "admin")
                    {
                        @foreach (var filial in Model.FiliaisDB)
                        {
                            @foreach (var contaCorrente in filial.ContasCorrentes)
                            {
                                var ContaCorrenteDb = Model.ContasCorrentesDB.Where(cc => cc.Id == contaCorrente.Id).FirstOrDefault();
                                if ((ContaCorrenteDb.Filial.Id == Model.FilialIdd && contaCorrente.Ativo == true && contaCorrente.Id != Model.ContaCorrente.Id))
                                {
                                    <option value="@contaCorrente.Id"> @contaCorrente.NumeroDaConta @contaCorrente.DigitoVerificadorCC </option>
                                }
                            }
                        }
                    }

                    @foreach (var filial in Model.Usuario.Filial.Empresa.Filiais)
                    {
                        @foreach (var contaCorrente in filial.ContasCorrentes)
                        {
                            var ContaCorrenteDb = Model.ContasCorrentesDB.Where(cc => cc.Id == contaCorrente.Id).FirstOrDefault();
                            if ((ContaCorrenteDb.Filial.Id == Model.FilialIdd && contaCorrente.Ativo == true && contaCorrente.Id != Model.ContaCorrente.Id))
                            {
                                <option value="@contaCorrente.Id">@contaCorrente.NumeroDaConta @contaCorrente.DigitoVerificadorCC</option>
                            }
                        }
                    }
                </select>
            </div>
            <div>
                <div class="form-group inputs">
                    <label asp-for="Valor" class="control-label">Valor a Transferir (R$):</label>
                    <input asp-for="Valor" id="inputValor" value="" name="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group text-center m-2">
                    <input type="submit" id="enviar" value="Confirmar" class="btn btn-primary rounded-pill m-2" onclick="checaValor()" />
                </div>
            </div>
        </form>
        <div class="btns">
            <a asp-action="TipoDeMovimento" asp-route-contacorrenteid="@Model.ContaCorrente.Id" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar</a>
        </div>
    </div>
</div>

<div id="modal" class="modal-container">
    <div class="erro fonte">
        <button class="fecha">X</button>
        <h1 class="text-danger errotext">Valor Inválido</h1>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/JQuery/JQueryFixes.js" type="text/javascript"></script>
    <script src="~/lib/JQuery/JQueryFixes.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        function reloadTransferencia() {
            var e = document.getElementById("SelectedFilialId");
            var contaCorrenteId = document.getElementById("ContaCorrenteId").value;
            var strUser = e.options[e.selectedIndex].value;

            $.ajax({
                url: '/movimentobancario/transferencia',
                type: 'GET',
                data: {
                    "filialId": strUser,
                    "contaCorrenteId": contaCorrenteId,
                    "tipo": "transferencia"
                }
            }).done(function (response) {
                location.replace('/MovimentoBancario/Transferencia?ContaCorrenteId=' + contaCorrenteId + '&tipo=transferencia&filialId=' + strUser)
            });
            debugger;
        }




        function checaValor() {
            var saldo = parseFloat($("#saldo").val());
            var valor = parseFloat($("#inputValor").val());
            if (valor > saldo || valor == 0) {
                $("#enviar").prop('type', 'button');
                const modal = document.getElementById("modal");
                modal.classList.add("mostra");
                modal.addEventListener('click', (e) => {
                    if (e.target.id == 'modal' || e.target.className == 'fecha') {
                        modal.classList.remove("mostra");
                    }
                });
            } else {
                $("#enviar").prop('type', 'submit');
            }
        }

    </script>
}


