@model Filial

@{
    ViewData["Title"] = "Detalhes da Filial";
}

<div class="pai-filial text-center">
    <div class="filho">
        <h4 class="font font-weight-bold m-1 text-center">Detalhes da Filial</h4>
        <hr />
        <dl class="col-6 font offset-3 cor alert-secondary rounded p-2">
            <dt>
                @Html.DisplayNameFor(model => model.Empresa.Nome)
            </dt>
            <dd class="font-weight-light">
                @Html.DisplayFor(model => model.Empresa.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PessoaJuridica.Nome)
            </dt>
            <dd class="font-weight-light">
                @Html.DisplayFor(model => model.PessoaJuridica.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PessoaJuridica.CNPJ)
            </dt>
            <dd class="font-weight-light">
                @Html.DisplayFor(model => model.PessoaJuridica.CNPJ)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PessoaJuridica.NumeroMunicipal)
            </dt>
            <dd class="font-weight-light">
                @Html.DisplayFor(model => model.PessoaJuridica.NumeroMunicipal)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroRegistroNaJuntaComercial)
            </dt>
            <dd class="font-weight-light">
                @Html.DisplayFor(model => model.NumeroRegistroNaJuntaComercial)
            </dd>
        </dl>
        <div class="text-center btns">
            <a asp-action="Index" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar Para Lista</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary rounded-pill"><i class="material-icons float-left">create</i> Editar</a>
        </div>
    </div>
</div>
