@model ExtratoBancarioViewModel;

@{
    ViewData["Title"] = "Extrato Bancário";
}

<div class="row pai ">
    <div class="filho rounded ">
        <form asp-controller="ExtratoBancario" asp-action="Extrato" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h4>Selecione uma Conta Bancária</h4>
            </div>
            @if (Model.Usuario.Email == "admin")
            {
                <div banco class="form-group inputs">
                    Banco
                    <select class="form-control" data-val="true" data-val-required="The Banco field is required." id="SelectedBancoId" name="SelectedBancoId" onchange="reloadExtrato()">
                        @foreach (var banco in Model.Bancos)
                        {
                            <option value="@banco.Id">@banco.Nome</option>
                        }
                    </select>
                    <script>
                        $("#SelectedBancoId option[value=" + @Model.BancoIdd + "]").attr('selected', 'selected');
                    </script>
                </div>
                <div filial class="form-group inputs">
                    Filial
                    <select data-val="true" data-val-required="The Filial field is required." id="SelectedFilialId" name="SelectedFilialId" class="form-control" onchange="reloadExtrato()">
                        @foreach (var filial in Model.Filiais)
                        {
                            <option value="@filial.Id">@filial.PessoaJuridica.Nome</option>
                        }
                    </select>
                    <script>
                        $("#SelectedFilialId option[value=" + @Model.FilialIdd + "]").attr('selected', 'selected');
                    </script>
                </div>
                <div contaCorrente class="form-group inputs ">
                    Conta Corrente
                    <select class="form-control" data-val="true" data-val-required="The ContaCorrente field is required." id="ContaCorrenteId" name="ContaCorrenteId">
                        @foreach (var contaCorrente in Model.ContasCorrentes)
                        {
                            var ContaCorrenteDb = Model.ContasCorrentesDB.Where(c => c.Id == contaCorrente.Id).FirstOrDefault();

                            if ((ContaCorrenteDb.Filial.Id == Model.FilialIdd && ContaCorrenteDb.Banco.Id == Model.BancoIdd && ContaCorrenteDb.Ativo == true))
                            {
                                <option value="@contaCorrente.Id">@contaCorrente.NumeroDaConta @contaCorrente.DigitoVerificadorCC</option>
                            }
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="form-group inputs">
                    <select data-val="true" name="ContaCorrenteId" class="form-control">
                        @foreach (var postoDeCaixa in Model.Usuario.PostosDeCaixa)
                        {
                            if (postoDeCaixa.Ativo == true)
                            {
                                <option value="@postoDeCaixa.ContaCorrente.Id">@postoDeCaixa.ContaCorrente.NumeroDaConta @postoDeCaixa.ContaCorrente.DigitoVerificadorCC</option>
                            }
                        }
                    </select>
                </div>
            }
            <div class="form-group text-center inputs">
                <label asp-for="DataInicial" class="control-label">Data Inicial</label>
                <input asp-for="DataInicial" name="dataInicial" type="date" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>

                <label asp-for="DataFinal" class="control-label">Data Final</label>
                <input asp-for="DataFinal" name="dataFinal" type="date" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Gerar Extrato</button>
            </div>
        </form>
        <div class="btns">
            <a asp-controller="Home" asp-action="InicioLogado" class="btn btn-dark rounded-pill"><i class="material-icons float-left font">arrow_back</i>Voltar</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function reloadExtrato() {
            var e = document.getElementById("SelectedBancoId");
            var f = document.getElementById("SelectedFilialId");

            var strUser1 = e.options[e.selectedIndex].value;
            var strUser2 = f.options[f.selectedIndex].value;
            $.ajax({
                url: '/extratobancario/inicioextrato',
                type: 'GET',
                data: {
                    "bancoId": strUser1,
                    "filialId": strUser2
                }
            }).done(function (response) {
                location.replace('/ExtratoBancario/InicioExtrato?bancoId=' + strUser1 + '&filialId=' + strUser2)
            });
        }

    </script>
}


